# Dependencies
node_modules/

# Deno
.deno/

# Environment & secrets
.env
.env.*
!.env.example
*.pem
*.key

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.sqlite-shm
*.sqlite-wal

# Coverage
coverage/
*.lcov

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors & IDEs
.idea/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Editor temporary files
*.swp
*.swo
*.suo

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini